body{
    font-family: 'Roboto', sans-serif;
}

.secondary__heading{
    font-size: 2.5rem;
    color: #CECFD4;

}

.tertiary__heading{
    font-weight: 700;
    font-size: 1.5rem;
}
.date{
    font-weight: 400;
    display: block;
    margin-top: 1rem;
    color: #B6BBC0;
}