.worker{
    &__box--1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__box--2{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    &__image{
        display: block;
        border-radius: 5px;
        box-shadow: 0 6px 14px rgba(0,0,0,.1);
        width: 16rem;
        height: 19rem;
    }
    &__details{
        margin-left: 3rem;
        padding-top: 1.5rem;
    }
    &__one,
    &__two{
        display: flex;
        width: 46%;
        margin-bottom: 6rem;
        align-items: flex-start;
    }
   
}