.form{
    &__box{
        width: 35%;
        margin: auto;
        text-align: center;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        padding: 0 0 4rem 0;
        position: relative;
        background-color: $color-gray-light;
        @include respond(phone) {
            width: 90%;
        }
    }
    &__input{
        display: block;
    }
    &__colorbox{
        width: 100%;
        height: 1rem;
        position: absolute;
        top: 0;
        background-image: linear-gradient(to right, #15A282 12.5%,
        #1ABD9E 12.5%,#1ABD9E 25%,
        #C4372D 25%, #C4372D 37.5%,
        #DF4F4E 37.5%, #DF4F4E 50%,
        #FBA733 50%, #FBA733 62.5%,
        #FECC03 62.5%, #FECC03 75%,
        #139DDE 75%, #139DDE 87.5%,
        #34CCFE 87.5%, #34CCFE 100%,
    );
    }
    &__input{
        width: 80%;
        margin: 3rem auto;
        padding: 2rem 0 2rem 1.5rem;
        border-radius: .5rem;
        border: .2rem solid #e7e0e0;
        color: #B4B2B3;
        font-size: 2rem;
        transition: all .1s;
        @include respond(phone) {
            padding: 2.5rem 0 2.5rem 2rem;
            margin: 3.5rem auto;
        }
        &::placeholder{
            font-size: 2rem;
            color: #ccc;
        }
        &:focus{
            outline: none;
            border: .2rem solid #139DDE ;
        }
    }
}